<section id="contact-section" class="section section-contact">
  
  <div class="section-title" data-aos="fade-down">
    <label class="section-title-label" style="color:black;">
      <%-contactDat.title%>
    </label>
  </div>

  <div class="contain-contact" data-aos="zoom-in-up">  
    <form class="form-message" action="/message" method="post">
      
      <div class="form-group form-group-name">
        <input type="text" name="name" class="input input-name" placeholder="<%-contactDat.placeholders[0]%>">
        <p class="name-error"></p>
      </div>

      <div class="form-group form-group-email">
        <input type="email" name="email" class="input input-email" placeholder="<%-contactDat.placeholders[1]%>">
        <p class="email-error"></p>
      </div>

      <div class="form-group form-group-message">
        <textarea type="text" name="message" class="input input-message"  placeholder="<%-contactDat.placeholders[2]%>" maxlength="240"></textarea>
        <p class="message-error"></p>
      </div>

      <button type="submit" class="contact-button"><%-contactDat.button%></button>
    </form>

    <div class="errores">
      <% if(typeof errors != 'undefined'){ %>
          <p class="errorTitle">ERROR</p>
          <ul>
              <% for(let i=0; i<errors.length; i++){ %>
                  <li style="font-size: 13px"><%= errors[i].msg %> </li> 
              <% } %> 
          </ul> 
      <% } %>
    </div>

  </div>

  <!-- Contact section validate -->
  <script src="/js/contactValidate.js"></script>  
</section>