<section class="section section-faq"  id="faq-section">
  
  <div class="section-title" data-aos="fade-down">
    <label class="section-title-label">
      <%-faqSectionDat.title%>
    </label>
  </div>

  
  <div class="accordion">
    <div class="content-box" data-aos="fade-up">
      <div class="label"><%-faqsDat[0].title%></div>
      <div class="content">
        <p><%-faqsDat[0].text%></p>
      </div>
    </div>
    

    <div class="content-box" data-aos="fade-up" data-aos-delay="100">
      <div class="label"><%-faqsDat[1].title%></div>
      <div class="content">
        <p><%-faqsDat[1].text%></p>
      </div>
    </div>

    <div class="content-box" data-aos="fade-up" data-aos-delay="200">
      <div class="label"><%-faqsDat[2].title%></div>
      <div class="content">
        <p><%-faqsDat[2].text%></p>
      </div>
    </div>
  </div>

  <a href="/faq" class="faq-more-button"><label><%-faqSectionDat.button%></label></a>


  <script>
    const accordion = document.getElementsByClassName('content-box');

    for (i = 0; i < accordion.length; i++) {
      accordion[i].addEventListener('click',function(){
        this.classList.toggle('active');
      })
    }
  </script>
</section>