<section class="section section-faq"  id="faq-section">
  
  <div class="section-title" data-aos="fade-down">
    <label class="section-title-label faq-title-label">
      <%-faqSectionDat.title%>
    </label>
  </div>

  
  <div class="accordion">

    <% for (let i = 0; i < 3; i++ ) {%>

      <div class="accordion-item" data-aos="fade-up">
        <div class="accordion-item-title"><p><%-faqsDat[i].title%></p><p class="accordion-item-toggle-icon">+</p></div>
        <div class="accordion-item-content">
          <p><%-faqsDat[i].text%></p>
          <% if (faqsDat[i].bullets) { %>
            <% for (let j = 0; j < (faqsDat[i].bullets).length ; j++ ) { %>
              <p class="accordion-item-content-bullet"><%-faqsDat[i].bullets[j]%></p>
            <% } %>
          <% } %>

        </div>
      </div>

    <% } %>

  </div>

  <a href="/faq" class="faq-more-button"><label><%-faqSectionDat.button%></label></a>


  <script>
    let accordionItem = document.querySelectorAll('.accordion-item');
    let accordionTitle = document.querySelectorAll('.accordion-item-title');
    let accordionToggleIcon = document.querySelectorAll('.accordion-item-toggle-icon');

    accordionTitle.forEach((title,i) =>{
      accordionTitle[i].addEventListener('click',()=>{
        
        if (accordionItem[i].classList.contains('active')){
          accordionItem[i].classList.remove('active');
          accordionToggleIcon[i].innerHTML="+";
        }else{
          accordionItem[i].classList.add('active');
          accordionToggleIcon[i].innerHTML="-";
        }

      })
    })
  </script>
</section>