<section id="testimonials-section" class="section section-testimonials">

  <div class="section-title" data-aos="fade-down">
    <!-- <label class="section-title-label" style="color:black;"><%-testimonialDat.title%></label> -->
  </div>

  <div class="container-testimonials" data-aos="fade-up" data-aos-delay="200">
    <div class="splide" data-splide='{"type"   : "loop", "perPage": 1,"perMove": 1,"focus"  : "center","pagination": false}'>

      <div class="splide__arrows">
        <button class="splide__arrow splide__arrow--prev arrows-testimonials">
          <i class="fas fa-chevron-left"></i>
        </button>
        <button class="splide__arrow splide__arrow--next arrows-testimonials">
          <i class="fas fa-chevron-right"></i>
        </button>
      </div>

      <div class="splide__track">
        <ul class="splide__list">
          <% for (let i = 0; i < reviews.length; i++) { %>
            <% if (reviews[i].text != '') { %>
              <li class="splide__slide">
                <div class="splide-testimonial-item">
                  <img src="<%= reviews[i].profile_photo_url %>" class="testimonial-img" alt="">
                  <p class="testimonial-author">
                    <%= reviews[i].author_name %>
                  </p>
                  <div class="testimonial-time">
                    <i class="fab fa-google"></i>
                    <p>
                      <%= reviews[i].relative_time_description %>
                    </p>
                  </div>
                  <p class="testimonial-text">
                    <%= reviews[i].text %>
                  </p>
                  
                  <div class="rating">
                    <% for (let j = 0; j < reviews[i].rating; j++ ){ %>
                      <i class="fas fa-star"></i>
                    <% } %> 
                  </div>
                </div>
              </li>
            <% } %>
          <% } %>
        </ul>
      </div>

    </div>
  </div>
</section>