<section class="section section-whyus">
    <div class="section-title">
      <label class="section-title-label" style="color:black;" data-aos="fade-down"><%- whyusDat.title %></label>
    </div>  
    <div class="whyus-items-container">    
     
      <div class="whyus-items-firstline" data-aos="fade-down">
        <div class="whyus-item">
          <div class="whyus-item-icon-circle">
            <i class="fas fa-history"></i>
          </div>
          <label class="whyus-item-title"><%- whyusDat.itemsTitles[0] %></label>
          <label class="whyus-item-description" ><%- whyusDat.itemsDescriptions[0] %></label>
        </div>
        <div class="whyus-item">
          <div class="whyus-item-icon-circle">
            <i class="fas fa-user-check"></i>
          </div>
          <label class="whyus-item-title"><%- whyusDat.itemsTitles[1] %></label>
          <label class="whyus-item-description"><%- whyusDat.itemsDescriptions[1] %></label>
        </div>
        <div class="whyus-item">
          <div class="whyus-item-icon-circle">
            <i class="far fa-calendar-check"></i>
          </div>
          <label class="whyus-item-title"><%- whyusDat.itemsTitles[2] %></label>
          <label class="whyus-item-description"><%- whyusDat.itemsDescriptions[2] %></label>
        </div>
      </div>
      <div class="whyus-items-secondline" data-aos="fade-up">
        <div class="whyus-item">
          <div class="whyus-item-icon-circle">
            <i class="fas fa-chart-line"></i>
          </div>
          <label class="whyus-item-title"><%- whyusDat.itemsTitles[3] %></label>
          <label class="whyus-item-description"><%- whyusDat.itemsDescriptions[3] %></label>
        </div>
        <div class="whyus-item">
          <div class="whyus-item-icon-circle">
            <i class="fas fa-hand-holding-heart"></i>
          </div>
          <label class="whyus-item-title"><%- whyusDat.itemsTitles[4] %></label>
          <label class="whyus-item-description"><%- whyusDat.itemsDescriptions[4] %></label>
        </div>
        <div class="whyus-item">
          <div class="whyus-item-icon-circle">
            <i class="far fa-lightbulb"></i>
          </div>
          <label class="whyus-item-title"><%- whyusDat.itemsTitles[5] %></label>
          <label class="whyus-item-description"><%- whyusDat.itemsDescriptions[5] %></label>
        </div>
      </div>
      </div>
    </section>