<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') -%>
<body>

    <%- include('./partials/navbar') -%>
    <%- include('./partials/float-button') -%>
    
    <section class="section-brokers margin-nav-section" style="background: #eef0f8; height: 130vh;">

        <div class="brokers-title-container section-title-container">
            <div class="section-title">
                <label class="section-title-label" style="color: white; ">
                    <%=brokersDat.title%>
                </label>
            </div>
            <div class="brokers-subtitle-container">
                <p class="brokers-subtitle-text"><%=brokersDat.subtitle%></p>
            </div>
        </div>
        <div class="hideOnSize" style="position: absolute; right: 0; top: 42vh; height: 90vh; background-color: #eef0f8; z-index: 1000;"></div>
        <div class="hideOnSize" style="position: absolute; left: 0; top: 42vh; height: 90vh; background-color: #eef0f8; z-index: 1000;"></div>
        <iframe src="https://app.lendingwise.com/brokerRegistration.php?bRc=522c7f6fc77d03e3" name="top" width="100%" frameborder="1" id="iframe1" height="63%" scrolling="yes" style="border:0px solid #333333; background: #eef0f8; margin-top: 10vh;"></iframe>

    </section>

    <%-include('./partials/footer')%>
    <script>
        var myState = {
            pdf: null,
            currentPage: 2,
            zoom: 1.31
        }

        var loadP = document.querySelector(".property");
        var loan; 
        if (loadP){
            loan = loadP.innerHTML.trim();

        }
        let screenW = window.screen.width;


        if (screenW < 768 && screenW > 576){
            myState.zoom = 0.82;
        } else if (screenW < 576){
            myState.zoom = 0.5;
        }

        console.log(loan);
        if (loan){
            pdfjsLib.getDocument('pdf/'+loan+'.pdf').then(pdf =>{
        
            myState.pdf = pdf;
            render();
            })
        }

        function render() {
            myState.pdf.getPage(myState.currentPage).then((page) => {

                var canvas = document.getElementById("pdf_renderer");
                var ctx = canvas.getContext('2d');

                var viewport = page.getViewport(myState.zoom);
                canvas.width = viewport.width;
                canvas.height = viewport.height;

                page.render({
                    canvasContext: ctx,
                    viewport: viewport
                });
            });
        }

        

    </script>
    <script src="/js/navbarLinks.js"></script>
    <script src="/js/footerLinks.js"></script>
    <script src="/js/navbarResponsive.js"></script>
</body>
</html>