<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') -%>
<body>

    <%- include('./partials/navbar') -%>
    <%- include('./partials/float-button') -%>
    
    <section class="section-calculator">

        <div class="calculator-title-container section-title-container">
            <div class="section-title">
                <label class="section-title-label" style="color:white;">
                    <%=calculatorDat.title%>
                </label>
            </div>
        </div>

        <div class="calculator-container">     
            <form action="/calculator/" method="post" class="calculator-form-container">        
                <div class="content-container">

                    <div class="first-line">
                        <!-- Estimated Property Value -->
                        <div class="item-container">
                            <label for="" class="slider-title"><%=calculatorDat.itemTitles[0]%></label>
                            <p class="value">$<span class="moneyValueToChange" id="value1"></span></p>
                            <hr>
                            <% if(typeof output != 'undefined'){ %>
                                <input name="estimatedValue" type="range" id="range1" min="1" max="10000000" value="<%=output.estimatedValue%>" class="slider">        
                            <% } else { %>
                                <input name="estimatedValue" type="range" id="range1" min="1" max="10000000" value="100000>" class="slider">
                            <% }  %>
                        </div>

                        <!-- Mortgage Amount -->
                        <div class="item-container">
                            <label for="" class="slider-title"><%=calculatorDat.itemTitles[1]%></label>
                            <p class="value"><span class="moneyValueToChange" id="value2"></span>%</p>
                            <hr>
                            <% if(typeof output != 'undefined'){ %>
                                <input name="mortgageAmount" type="range" id="range2" step="0.1" min="0" max="75" value="<%=output.mortgageAmount%>" class="slider">
                            <% } else { %>
                                <input  name="mortgageAmount" type="range" id="range2" step="0.1" min="0" max="75" value="15" class="slider">
                            <% }  %>
                        </div>

                        <!-- Tenor -->
                        <div class="item-container">

                            <div class="label-container">
                                
                                <div class="radio-container">
                                    <label class="container slider-title" for="month"><%=calculatorDat.tenorSubs[0]%>
                                        <input type="radio" checked="checked" id="month" name="monthyear">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="radio-container">
                                    <label class="container slider-title" for="year"><%=calculatorDat.tenorSubs[1]%>
                                        <input type="radio" name="monthyear" id="year">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                
                            <p class="value"><span id="value3"></span> Months</p>
                            <hr>

                            <% if(typeof output != 'undefined'){ %>
                                <input name="mortgageTenor" type="range" id="range3" min="1" max="36" value="<%=output.mortgageTenor%>" class="slider">
                            <% } else { %>
                                <input name="mortgageTenor" type="range" id="range3" min="1" max="36" value="36" class="slider">

                            <% }  %>
                        </div>
                    </div>
                    <div class="second-line">

                        <!-- Interest Rate (%)  -->
                        <div class="item-container">
                            <label for="" class="slider-title"><%= calculatorDat.itemTitles[2]%> (%)</label>
                            <p class="value"><span class="moneyValueToChange" id="value4"></span>%</p>
                            <hr>
                            <% if(typeof output != 'undefined'){ %>
                                <input name="mortgageInterest" type="range" id="range4" step="0.01" min="7.99" max="13.99"  value="<%=output.mortgageInterest%>" class="slider">
                            <% } else { %>
                                <input name="mortgageInterest" type="range" id="range4" step="0.01" min="7.99" max="13.99" value="8.50" class="slider">
                            <% }  %>
                        </div>

                        <!-- Est. Origination Fee   -->
                        <div class="item-container">
                            <label for="" class="slider-title"><%= calculatorDat.itemTitles[3]%></label>
                            <p class="value"><span class="moneyValueToChange" id="value5"></span>%</p>
                            <hr>
                            <% if(typeof output != 'undefined'){ %>
                                <input name="estOrigFree" type="range" id="range5" step="0.1" min="0" max="5" value="<%=output.estOrigFree%>" class="slider">
                            <% } else { %>
                                <input name="estOrigFree" type="range" id="range5" step="0.1" min="0" max="5" value="2.5" class="slider">
                            <% }  %>
                        </div>

                        <!-- Est. Loan Costs -->
                        <div class="item-container">
                            <label for="" class="slider-title"><%= calculatorDat.itemTitles[4]%></label>
                            <p class="value"><span class="moneyValueToChange" id="value6"></span>%</p>
                            <hr>
                            <% if(typeof output != 'undefined'){ %>
                                <input name="estLoanCosts" type="range" id="range6" step="0.1" min="0" max="5" value="<%=output.estLoanCosts%>" class="slider">
                            <% } else { %>
                                <input name="estLoanCosts" type="range" id="range6" step="0.1" min="0" max="5" value="2.0" class="slider">
                            <% }  %>
                        </div>

                    </div>           
                </div>
                <button type="submit" class="button-calculator principal-button">
                    <%= calculatorDat.submitButton%>
                </button>
            </form>
        
            <% if(typeof output != 'undefined'){ %>
                <div class="output-container" >
                    <label class="output-title"><%= calculatorDat.outputTitle%></label>

                    <div class="output-container-first">
                        <div class="output-detail-item">
                            <label class="output-detail-item-title"><%= calculatorDat.outputsTitles[0] %>: </label>
                            <label class="output-detail-item-value">$<span class="moneyValueToChange"><%= output.estimatedValue %></span></label>
                        </div>
                        <div class="output-detail-item">
                            <label class="output-detail-item-title"><%= calculatorDat.outputsTitles[1] %>: </label>
                            <label class="output-detail-item-value"><span class="moneyValueToChange"><%= output.mortgageAmount %></span>%</label>
                        </div>
                        <div class="output-detail-item">
                            <label class="output-detail-item-title"><%= calculatorDat.outputsTitles[2] %>: </label>
                            <label class="output-detail-item-value">$<span class="moneyValueToChange"><%= output.loanAmount %></span></label>
                        </div>
                        <div class="output-detail-item">
                            <label class="output-detail-item-title"><%= calculatorDat.outputsTitles[3] %>: </label>
                            <label class="output-detail-item-value"><span class="moneyValueToChange"><%= output.mortgageInterest %></span>%</label>
                        </div>
                        <div class="output-detail-item">
                            <label class="output-detail-item-title"><%= calculatorDat.outputsTitles[4] %>: </label>
                            <label class="output-detail-item-value"><span><%=output.mortgageTenor %></span></label>
                        </div>         
                    </div>                 

                    <div class="output-container-second">
                        <div class="output-detail-item">
                            <label class="output-detail-item-title"><%= calculatorDat.outputsTitles[5] %>: </label>
                            <label class="output-detail-item-value">$<span class="moneyValueToChange"><%= output.monthInterest %></span></label>
                        </div>
                        <div class="output-detail-item">
                            <label class="output-detail-item-title"><%= calculatorDat.outputsTitles[6] %>: </label>
                            <label class="output-detail-item-value">$<span class="moneyValueToChange"><%= output.annualInterest %></span></label>
                        </div>
                        <div class="output-detail-item">
                            <label class="output-detail-item-title"><%= calculatorDat.outputsTitles[7] %>: </label>
                            <label class="output-detail-item-value">$<span class="moneyValueToChange"><%= output.estLoanCosts %></span></label>
                        </div>
                        <div class="output-detail-item">
                            <label class="output-detail-item-title"><%= calculatorDat.outputsTitles[8] %>: </label>
                            <label class="output-detail-item-value">$<span class="moneyValueToChange"><%= output.estOrigFree %></span></label>
                        </div>
                        <div class="output-detail-item">
                            <label class="output-detail-item-title"><%= calculatorDat.outputsTitles[9] %>:</label>
                            <label class="output-detail-item-value">$<span class="moneyValueToChange"><%= output.totalClosing %></span></label>
                        </div>
                    </div>
                    <div class="table-payments">
                        <div class="table-payments-header">
                            <label class="table-payment-date table-payment-indice">&nbsp;</label>
                            <label class="table-payment-date"><%= calculatorDat.paymentsTitles[0] %></label>
                            <label class="table-payment-date"><%= calculatorDat.paymentsTitles[1] %></label>    
                        </div>
                        <% for (let j = 0; j < payments.length; j++) { %>
                            <div class="table-payments-item">
                                <label class="table-payment-date table-payment-indice"> <%= payments[j].id %></label>
                                <label class="table-payment-date">$<span class="moneyValueToChange"><%= output.monthInterest %></span></label>
                                <label class="table-payment-date">$<span class="moneyValueToChange"><%= payments[j].cumulativePayment %></span></label>
                            </div>
                        <% } %>
                    </div>
                </div>
            <% } %>

        </div>
    </section>
    <%- include('./partials/footer') -%>
    
    <script src="/js/numberFormat.js"></script>

    <script>

        /* Estimated Property Value */
        var slider1 = document.getElementById("range1");
        var output1 = document.getElementById("value1");

        output1.innerHTML = slider1.value;

        slider1.oninput = function(){
            output1.innerHTML = this.value;
        }

        /* Mortgage Amount */
        var slider2 = document.getElementById("range2");
        var output2 = document.getElementById("value2");

        output2.innerHTML = slider2.value;

        slider2.oninput = function(){
            output2.innerHTML = this.value;
        }

        /* Tenor */
        var slider3 = document.getElementById("range3");
        var output3 = document.getElementById("value3");

        output3.innerHTML = slider3.value;

        slider3.oninput = function(){
            output3.innerHTML = this.value;
        }

        /* Interest Rate (%)  */
        var slider4 = document.getElementById("range4");
        var output4 = document.getElementById("value4");

        output4.innerHTML = slider4.value;

        slider4.oninput = function(){
            output4.innerHTML =this.value;
        }

        /* Est. Origination Fee  */
        var slider5 = document.getElementById("range5");
        var output5 = document.getElementById("value5");

        output5.innerHTML = slider5.value;

        slider5.oninput = function(){
            output5.innerHTML = this.value;
        }

        /* Est. Loan Costs */
        var slider6 = document.getElementById("range6");
        var output6 = document.getElementById("value6");

        output6.innerHTML = slider6.value;

        slider6.oninput = function(){
            output6.innerHTML = this.value;
        }
        
    </script>

</body>
</html>