<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') -%>
<body>

    <%- include('./partials/navbar') -%>
    <%- include('./partials/float-button') -%>
    
    <section class="section-calculator margin-nav-section">

        <div class="calculator-title-container section-title-container">
            <div class="section-title">
                <label class="section-title-label" style="color:white;">
                    <%=calculatorDat.title%>
                </label>
            </div>
        </div>

        <div class="lang-hidden-value" style="position: absolute; width: 0; height: 0; opacity: 0;"><%=langFlag%></div>

        <div class="calculator-container">     
            <form action="/calculator/" method="post" class="calculator-form-container">        
                <div class="content-container">

                    <div class="first-line">
                        <!-- Estimated Property Value -->
                        <div class="item-container">
                            <label for="" class="slider-title"><%=calculatorDat.itemTitles[0]%></label>
                            <p class="value"><input type="text" id="value1-hidden-input"><span class="moneyValueToChange" id="value1"></span></p>
                            
                            <hr>
                            <% if(typeof output != 'undefined'){ %>
                                <input name="estimatedValue" type="range" id="range1" min="1" max="10000000" value="<%=output.estimatedValue%>" class="slider">        
                            <% } else { %>
                                <input name="estimatedValue" type="range" id="range1" min="1" max="10000000" value="100000" class="slider">
                            <% }  %>
                        </div>

                        <!-- Mortgage Amount -->
                        <div class="item-container">
                            <label for="" class="slider-title"><%=calculatorDat.itemTitles[1]%></label>
                            <p class="value"><span class="moneyValueToChange" id="value2"></span>%</p>
                            <hr>
                            <% if(typeof output != 'undefined'){ %>
                                <input name="mortgageAmount" type="range" id="range2" step="0.1" min="0" max="75" value="<%=output.mortgageAmount%>" class="slider">
                            <% } else { %>
                                <input  name="mortgageAmount" type="range" id="range2" step="0.1" min="0" max="75" value="15" class="slider">
                            <% }  %>
                        </div>

                        <!-- Tenor -->
                        <div class="item-container">
                            <label for="" class="slider-title"><%=calculatorDat.itemTitles[2]%></label>                
                            
                            <div class="item-tenor-radio-container">
                                <div class="item-tenor-field">
                                    <input type="radio" name="itemTenorInput"  id="item-tenor-months" checked>    
                                    <label class="item-tenor-months-label" for="item-tenor-months">
                                        <div class="item-tenor-circle">&nbsp;</div>
                                        <% if(langFlag=='eng'){ %>
                                            <span>Months</span>
                                        <% } else { %>
                                            <span>Meses</span>
                                        <% } %>
                                    </label>
                                </div>
    
                                <div class="item-tenor-field">
                                    <input type="radio" name="itemTenorInput" id="item-tenor-weeks">    
                                    <label class="item-tenor-weeks-label" for="item-tenor-weeks">
                                        <div class="item-tenor-circle">&nbsp;</div>
                                        <% if(langFlag=='eng'){ %>
                                            <span>Weeks</span>
                                        <% } else { %>
                                            <span>Semanas</span>
                                        <% } %>
                                        
                                    </label>
                                </div>
                            </div>
                            <% if(langFlag=='eng'){ %>
                                <p class="value"><span id="value3"></span><span class="item-tenor-field-title"> Months</span></p>
                            <% } else { %>
                                <p class="value"><span id="value3"></span><span class="item-tenor-field-title"> Meses</span></p>
                            <% } %>
                            <hr>

                            <% if(typeof output != 'undefined'){ %>
                                <input name="mortgageTenor" type="range" id="range3" min="1" max="36" value="<%=output.mortgageTenor%>" class="slider">
                            <% } else { %>
                                <input name="mortgageTenor" type="range" id="range3" min="1" max="36" value="36" class="slider">

                            <% }  %>
                        </div>
                    </div>
                    <div class="second-line">

                        <!-- Interest Rate (%)  -->
                        <div class="item-container">
                            <label for="" class="slider-title"><%= calculatorDat.itemTitles[3]%> (%)</label>
                            <p class="value"><span class="moneyValueToChange" id="value4"></span>%</p>
                            <hr>
                            <% if(typeof output != 'undefined'){ %>
                                <input name="mortgageInterest" type="range" id="range4" step="0.01" min="7.99" max="13.99"  value="<%=output.mortgageInterest%>" class="slider">
                            <% } else { %>
                                <input name="mortgageInterest" type="range" id="range4" step="0.01" min="7.99" max="13.99" value="8.50" class="slider">
                            <% }  %>
                        </div>

                        <!-- Est. Origination Fee   -->
                        <div class="item-container">
                            <label for="" class="slider-title"><%= calculatorDat.itemTitles[4]%></label>
                            <p class="value"><span class="moneyValueToChange" id="value5"></span>%</p>
                            <hr>
                            <% if(typeof output != 'undefined'){ %>
                                <input name="estOrigFree" type="range" id="range5" step="0.1" min="0" max="5" value="<%=output.estOrigPercent%>" class="slider">
                            <% } else { %>
                                <input name="estOrigFree" type="range" id="range5" step="0.1" min="0" max="5" value="2.5" class="slider">
                            <% }  %>
                        </div>

                        <!-- Est. Loan Costs -->
                        <div class="item-container">
                            <label for="" class="slider-title"><%= calculatorDat.itemTitles[5]%></label>
                            <p class="value"><span class="moneyValueToChange" id="value6"></span>%</p>
                            <hr>
                            <% if(typeof output != 'undefined'){ %>
                                <input name="estLoanCosts" type="range" id="range6" step="0.1" min="0" max="5" value="<%=output.loanCostPercent%>" class="slider">
                            <% } else { %>
                                <input name="estLoanCosts" type="range" id="range6" step="0.1" min="0" max="5" value="2.0" class="slider">
                            <% }  %>
                        </div>

                    </div>           
                </div>
                <button type="submit" class="button-calculator principal-button">
                    <%= calculatorDat.submitButton%>
                </button>
                <div class="sendpdf-container">
                    <input type="checkbox" name="pdf-calculator-hidden" id="pdf-calculator">
                    <label class="send-pdf-label" for="pdf-calculator">
                        <div class="pdf-checkbox-container">
                            <div class="pdf-calculator-checkbox">&nbsp;</div>
                            <h3>Send pdf to mail?</h3>
                        </div>
                        <div class="pdf-email-container">
                            <input type="text" name="sendEmail" placeholder="Email" id="sendEmailId" class="send-pdf-email">
                        </div>
                    </label>
                </div>
            </form>
        
            <% if(typeof output != 'undefined'){ %>
                <div class="output-container" >
                    <label class="output-title"><%= calculatorDat.outputTitle%></label>

                    <div class="output-container-first">
                        <div class="output-detail-item">
                            <label class="output-detail-item-title"><%= calculatorDat.outputsTitles[0] %>: </label>
                            <label class="output-detail-item-value"><span id="calculator-output-value-1"><%= output.estimatedValue %></span></label>
                        </div>
                        <div class="output-detail-item">
                            <label class="output-detail-item-title"><%= calculatorDat.outputsTitles[1] %>: </label>
                            <label class="output-detail-item-value"><span><%= output.mortgageAmount %></span>%</label>
                        </div>
                        <div class="output-detail-item">
                            <label class="output-detail-item-title"><%= calculatorDat.outputsTitles[2] %>: </label>
                            <label class="output-detail-item-value"><span id="calculator-output-value-3"><%= output.loanAmount %></span></label>
                        </div>
                        <div class="output-detail-item">
                            <label class="output-detail-item-title"><%= calculatorDat.outputsTitles[3] %>: </label>
                            <label class="output-detail-item-value"><span><%= output.mortgageInterest %></span>%</label>
                        </div>
                        <div class="output-detail-item">
                            <label class="output-detail-item-title"><%= calculatorDat.outputsTitles[4] %>: </label>
                            <label class="output-detail-item-value"><span><%=output.mortgageTenor %></span></label>
                        </div>         
                    </div>                 

                    <div class="output-container-second">
                        <div class="output-detail-item">
                            <label class="output-detail-item-title"><%= calculatorDat.outputsTitles[5] %>: </label>
                            <label class="output-detail-item-value"><span id="calculator-output-value-6"><%= output.monthInterest %></span></label>
                        </div>
                        <div class="output-detail-item">
                            <label class="output-detail-item-title"><%= calculatorDat.outputsTitles[6] %>: </label>
                            <label class="output-detail-item-value"><span  id="calculator-output-value-7"><%= output.annualInterest %></span></label>
                        </div>
                        <div class="output-detail-item">
                            <label class="output-detail-item-title"><%= calculatorDat.outputsTitles[7] %>: </label>
                            <label class="output-detail-item-value"><span  id="calculator-output-value-8"><%= output.estLoanCosts %></span></label>
                        </div>
                        <div class="output-detail-item">
                            <label class="output-detail-item-title"><%= calculatorDat.outputsTitles[8] %>: </label>
                            <label class="output-detail-item-value"><span  id="calculator-output-value-9"><%= output.estOrigFree %></span></label>
                        </div>
                        <div class="output-detail-item">
                            <label class="output-detail-item-title"><%= calculatorDat.outputsTitles[9] %>:</label>
                            <label class="output-detail-item-value"><span  id="calculator-output-value-10"><%= output.totalClosing %></span></label>
                        </div>
                    </div>
                    <div class="table-payments">
                        <div class="table-payments-header">
                            <label class="table-payment-date table-payment-indice">&nbsp;</label>
                            <label class="table-payment-date"><%= calculatorDat.paymentsTitles[0] %></label>
                            <label class="table-payment-date"><%= calculatorDat.paymentsTitles[1] %></label>    
                        </div>
                        
                        <% for (let j = 0; j < payments.length; j++) { %>
                            <div class="table-payments-item">
                                
                                <label class="table-payment-date table-payment-indice"> <%= payments[j].id %></label>
                                <label class="table-payment-date"><span class="calculator-output-value-11"><%= output.monthInterest %></span></label>
                                <label class="table-payment-date"><span class="calculator-output-value-12"><%= payments[j].cumulativePayment %></span></label>
                            </div>
                        <% } %>
                    </div>
                </div>
            <% } %>

        </div>
    </section>
    <%- include('./partials/footer') -%>

    <script src="https://cdn.jsdelivr.net/npm/cleave.js@1.6.0/dist/cleave.min.js"></script>
    <script src="/js/calculatorSliders.js"></script>
    <script src="/js/navbarResponsive.js"></script>
    <script src="/js/footerLinks.js"></script>
</body>
</html>