<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') -%>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MJ4FTK7"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    
    <%- include('./partials/navbar') -%>
    <%- include('./partials/float-button') -%>
    <%- include('./sections/testimonials') -%>
    <%- include('./sections/recent-deals') -%>
   

    <%-include('./partials/footer')%>
   
    <script src="/js/navbarLinks.js"></script>
    <script src="/js/footerLinks.js"></script>
    <script src="/js/navbarResponsive.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@2.4.21/dist/js/splide.min.js"></script>
    <script>
        var elms = document.getElementsByClassName( 'splide' );
        for ( var i = 0, len = elms.length; i < len; i++ ) {
          new Splide( elms[ i ] ).mount();
        }
      </script>
      <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
      <script> AOS.init(); </script> 
</body>
</html>