<!doctype html>
<html lang="en">
  
  <%- include('./partials/head') -%>

  <body>
    <%- include('./partials/navbar') -%>
    <%- include('./sections/principal') -%>
    <%- include('./sections/whyus') -%> 
    <%- include('./sections/aboutus') -%>
    <%- include('./sections/recent-deals') -%>
    <%- include('./sections/testimonials') -%>
    <%- include('./sections/faq') -%>
    <%- include('./sections/contact') -%>
    <%- include('./sections/footer') -%>

    
    

    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@2.4.21/dist/js/splide.min.js"></script>
    
    


    <script>
      var elms = document.getElementsByClassName( 'splide' );
      for ( var i = 0, len = elms.length; i < len; i++ ) {
        new Splide( elms[ i ] ).mount();
      }
      </script>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>


  </body>
  <%- include('./partials/float-button') -%>
</html>



