<!doctype html>
<html lang="en">
  
  <%- include('./partials/head') -%>

  <body>
    

    <%- include('./partials/navbar') -%>
    <%- include('./sections/principal') -%>
    <%- include('./sections/video') -%>
    <%- include('./sections/whyus') -%> 
    <%- include('./sections/aboutus') -%>
    <%- include('./sections/recent-deals') -%>
    <%- include('./sections/programs') -%>    
    <%- include('./sections/testimonials') -%>
    <%- include('./sections/faq') -%>
    <%- include('./sections/contact') -%>
    <%- include('./partials/footer') -%>

    
    

    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@2.4.21/dist/js/splide.min.js"></script>
    
    


    <script>
      var elms = document.getElementsByClassName( 'splide' );
      for ( var i = 0, len = elms.length; i < len; i++ ) {
        new Splide( elms[ i ] ).mount();
      }
      </script>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>


    <script>
      const aboutusLink = document.querySelector("#aboutus-link")
      const aboutusSection = document.querySelector("#aboutus-section");

      const programsLink = document.querySelector("#programs-link")
      const programsSection = document.querySelector("#programs-section");

      const dealsLink = document.querySelector("#deals-link")
      const dealsSection = document.querySelector("#recent-deals-section");

      const testimonialsLink = document.querySelector("#testimonials-link")
      const testimonialsSection = document.querySelector("#testimonials-section");

      const brokersLink = document.querySelector("#brokers-link")
      const brokersSection = document.querySelector("#brokers-section");

      const faqLink = document.querySelector("#faq-link")
      const faqSection = document.querySelector(".section-faq");

      const contactLink = document.querySelector("#contact-link")
      const contactSection = document.querySelector("#contact-section");

      const options = {block: "center",behavior: "smooth"}

      aboutusLink.addEventListener("click",()=>{
        aboutusSection.scrollIntoView(options)
      })

      programsLink.addEventListener("click",()=>{
        programsSection.scrollIntoView(options)
      })

      dealsLink.addEventListener("click",()=>{
        dealsSection.scrollIntoView(options)
      })

      testimonialsLink.addEventListener("click",()=>{
        testimonialsSection.scrollIntoView(options)
      })

      brokersLink.addEventListener("click",()=>{
        brokersSection.scrollIntoView(options)
      })

      faqLink.addEventListener("click",()=>{
        faqSection.scrollIntoView(options)
      })

      contactLink.addEventListener("click",()=>{
        contactSection.scrollIntoView(options)
      })
      
    </script>
  </body>
  <%- include('./partials/float-button') -%>
</html>



