<!doctype html>
<html lang="en">
  
  <%- include('./partials/head') -%>

  <body>
    

    <%- include('./partials/navbar') -%>
    <%- include('./sections/principal') -%>
    <%- include('./sections/whyus') -%> 
    <%- include('./sections/video') -%>
    <%- include('./sections/aboutus') -%>
    <%- include('./sections/recent-deals') -%>
    <%- include('./sections/programs') -%>    
    <%- include('./sections/testimonials') -%>
    <%- include('./sections/faq') -%>
    <%- include('./sections/contact') -%>
    <%- include('./partials/footer') -%>
    <%- include('./partials/float-button') -%>
    <!-- Clicks: saltos a secciones o redireccionamientos -->
    <script src="/js/navbarResponsive.js"></script>
    <script src="/js/navbarLinks.js"></script>
    <!-- Para las animaciones 'on scroll' -->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script> AOS.init(); </script> 
    <!-- Para los carrusels -->
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@2.4.21/dist/js/splide.min.js"></script>
    <script>
      var elms = document.getElementsByClassName( 'splide' );
      for ( var i = 0, len = elms.length; i < len; i++ ) {
        new Splide( elms[ i ] ).mount();
      }
    </script>


  </body>
</html>



