<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') -%>
<body>

    <%- include('./partials/navbar') -%>
    <%- include('./partials/float-button') -%>
    
    <section class="section-programs">

        <div class="programs-title-container section-title-container margin-nav-section">
            <div class="section-title">
                <label class="section-title-label" style="color:white;">
                    <%= programsDat.title %>
                </label>
            </div>
        </div>

        <div class="programs-container">
            <% for (let i = 0; i < programsDat.programs.length; i++ ) { %>
                <a href="/programs/<%=programsDat.links[i]%>" class="programs-container-item">
                    <div class="program-container-item-icon">
                        <img src="/images/icons/programs/program-<%-(i+1)%>.png" alt="">
                    </div>
                    <h3><%= programsDat.programs[i] %></h3>
                </a>
            <% } %>
        </div>
        <div class="program-button-contain" style="justify-self: flex-end ;">
            <a href="/apply-now"><button style="margin:auto;" class="principal-button"><%= programsDat.buttons[0] %></button></a>
        </div>
    </section>
    
    <%- include('./partials/footer') -%>
    <script src="/js/navbarLinks.js"></script>
    <script src="/js/navbarResponsive.js"></script>

</body>
</html>