<footer class="section-footer">
    <div class="footer-container">
        <div class="footer-icons">
            <img id="logo-pl-footer" src="/images/logos/logo-navbar-landscape-alt.png" width="200px" alt="">
        </div>
        <div class="footer-items">
            <div class="footer-item footer-company">
                <p class="footer-title"><%-footerDat.titles[0]%></p>
                <a id="footer-aboutus-link"><p><%-footerDat.company[0]%></p></a>
                <a id="footer-contact-link"><p><%-footerDat.company[1]%></p></a>
                <a id="footer-faq-link"><p><%-footerDat.company[2]%></p></a>
                <a id="footer-testimonials-link"><p><%-footerDat.company[3]%></p></a>
                <a id="footer-brokers-link"><p><%-footerDat.company[4]%></p></a>
            </div>
            <div class="footer-item footer-follow">
                <p class="footer-title"><%-footerDat.titles[1]%></p>
                <a href="https://www.facebook.com/"><p><%-footerDat.follow[0]%></p></a>
                <a href="https://www.instagram.com/"><p><%-footerDat.follow[1]%></p></a>
                <a href="https://www.linkedin.com/"><p><%-footerDat.follow[2]%></p></a>
            </div>
            <div class="footer-item footer-products">
                <p class="footer-title"><%-footerDat.titles[2]%></p>
                <a id="footer-applynow-link"><p><%-footerDat.applyNow[0]%></p></a>
                <a id="footer-prequalify-link"><p><%-footerDat.applyNow[1]%></p></a>
                <a id="footer-calculator-link"><p><%-footerDat.applyNow[2]%></p></a>
            </div>
        </div>  
    </div>
    <label class="copyright">Design by <a class="it-tech-link" href="https://it-techgroup.com/">IT-TECHGROUP</a></label>
</footer>