<footer class="section-footer">
    <div class="footer-container">
        <div class="footer-icons">
            <img id="logo-pl-footer" src="/images/logos/logo-navbar-landscape-alt.png" width="200px" alt="">
        </div>
        <div class="footer-items">
            <div class="footer-item footer-company">
                <p class="footer-title"><%-footerDat.titles[0]%></p>
                <p id="footer-aboutus-link"><%-footerDat.company[0]%></p>
                <p id="footer-contact-link"><%-footerDat.company[1]%></p>
                <p id="footer-FAQ-link"><%-footerDat.company[2]%></p>
                <p id="footer-testimonials-link"><%-footerDat.company[3]%></p>
                <p id="footer-brokers-link"><%-footerDat.company[4]%></p>
            </div>
            <div class="footer-item footer-follow">
                <p class="footer-title"><%-footerDat.titles[1]%></p>
                <p id="footer-social-fb"><%-footerDat.follow[0]%></p>
                <p id="footer-social-ig"><%-footerDat.follow[1]%></p>
                <p id="footer-social-lk"><%-footerDat.follow[2]%></p>
            </div>
            <div class="footer-item footer-products">
                <p class="footer-title"><%-footerDat.titles[2]%></p>
                <p><%-footerDat.applyNow[0]%></p>
                <p><%-footerDat.applyNow[1]%></p>
                <p><%-footerDat.applyNow[2]%></p>
            </div>
        </div>  
    </div>
    <label class="copyright">Design by <a class="it-tech-link" href="https://it-techgroup.com/">IT-TECHGROUP</a></label>
</footer>