<nav id="navbar">
  <input type="checkbox" id="check">
  <label for="check" class="checkbtn"><i id="icon" class="fas fa-bars"></i></label>
  <a href="/" class="logo">
    <img id="logo-img" style="margin-left: 20px; margin-top:15px;" src="/images/logos/logo-navbar.png" alt="" width="100px">
  </a>

  <ul>
    <div class="_nav-links">
      <li><a id="programs-link" class="overeable nav-link"><%- navbarDat.titles[1] %></a></li>
      <li><a id="deals-link" class="overeable nav-link"><%- navbarDat.titles[2] %></a></li>
      <li><a id="testimonials-link" class="overeable nav-link"><%- navbarDat.titles[3] %></a></li>
      <li><a href="/brokers" id="brokers-link" class="overeable nav-link"><%- navbarDat.titles[4] %></a></li>
      <li><a id="faq-link" class="overeable nav-link"><%- navbarDat.titles[5] %></a></li>
      <li><a id="contact-link"class="overeable nav-link"><%- navbarDat.titles[6] %></a></li>
      <li><a id="aboutus-link" class="overeable nav-link"><%- navbarDat.titles[0] %></a></li>
    </div>
    <li class="lang-link">
      <form action="/lang" method="post"> 
        <input type="text" name="hiddenInput" id="hidden-input-nav" style="display:none;">
        <button class="lang-button" type="submit" style="background: none; border:none; cursor:pointer;">
          <img class="lang-img"  src="/images/icons/<%-langFlag%>.png" alt="">
        </button>
      </form>
    </li>
  </ul>
</nav>